{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="formdiv">
        <h2>Sign Up</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Sign Up">Sign Up</button>
        </form>

        {% if not request.user.is_authenticated %}
            <p class="noacc">Have an account? <a href="{% url 'accounts:login' %}">Login</a></p>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <li> {{ message }} </li>
            {% endfor %}
        {% endif %}

        <ul>
            <li>Password must be greater than 7 and must contain upper case, lower case and digit.</li>
        </ul>
        
    </div>
</body>
</html>